## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()

In [ ]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.0.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/28 11:36:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
from pyspark.sql.functions import *

### Read the json file:

In [5]:
df = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [6]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

In [7]:
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all the data when "Model" equal "MacBook Pro":

In [12]:
df.select("*").where('model == "MacBook"').show(truncate = False)

+----+----+---------+---+-------+---+----------+-----+------+----+
|D   |H   |HDD      |Id |Model  |RAM|ScreenSize|W    |Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|2  |MacBook|8GB|12"       |11.04|2.03  |2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Create TempView:

In [13]:
df.createOrReplaceTempView('temp_view')

In [15]:
spark.sql('SELECT * from temp_view').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display "RAM"column and count "RAM" column:

In [19]:
df_ram = spark.sql("select count(RAM) from temp_view")

In [20]:
df_ram.show()

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

In [23]:
spark.sql("select RAM from temp_view").show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

### Get all columns when "Year" column equal "2015"

In [27]:
df_2015 = spark.sql("""select * from temp_view
where Year == 2015

""")

In [28]:
df_2015.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [31]:
df_m = spark.sql("""select * from temp_view
where Model like "M%"

""")

In [32]:
df_m.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [33]:
spark.sql("""select * from temp_view
where Model = "MacBook Pro"

""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [38]:
spark.sql("""select * from temp_view
where Model == "MacBook" and RAM == "8GB"

""").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [39]:
spark.sql("""select * from temp_view
where Model == "iMac" and D >= "8"

""").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [43]:
df = spark.read.csv('test1.csv' , header=True)

In [44]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [51]:
df.select('name' , 'salary').where('salary <= 20000').show()

+-------+------+
|   name|salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [52]:
df.select('name' , 'salary').where('salary <= 20000 and salary >= 15000').show()

+-------+------+
|   name|salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

## Task 3

### Read "test3" dataset:

In [56]:
df = spark.read.csv("test3.csv" , header=True)

### Display dataset

In [57]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [72]:
from pyspark.sql.types import *
df = df.withColumn("salary",col("salary").cast(IntegerType()))

### Display schema

In [73]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [74]:
df.select('Name' , 'salary').groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [75]:
df.select('*').groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [76]:
df.select('*').groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [77]:
df.select('*').groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [79]:
df.select('*').groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Apply agg to using sum function get the total of salaries

In [80]:
df.agg(sum('salary')).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [107]:
df = spark.read.csv("ITI_data.csv" ,header=True , inferSchema=True)

In [108]:
df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [109]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [116]:
df = df.drop('Ship_name')

In [117]:
df.printSchema()

root
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

### OneHotEncoder

In [118]:
train_df , test_df = df.randomSplit([.8 , .2] , seed=42)

In [119]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [120]:
train_df.dtypes

[('Cruise_line', 'string'),
 ('Age', 'int'),
 ('Tonnage', 'double'),
 ('passengers', 'double'),
 ('length', 'double'),
 ('cabins', 'double'),
 ('passenger_density', 'double'),
 ('crew', 'double')]

In [121]:
categoricalCols = [field for (field, dataType) in train_df.dtypes
                   if dataType == "string"]

In [122]:
categoricalCols

['Cruise_line']

In [123]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Cruise_line_Index']

In [124]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Cruise_line_OHE']

In [125]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [126]:
numericCols = [field for (field,dataType) in train_df.dtypes
              if ((dataType=='double')& (field!='crew'))]
numericCols

['Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [127]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Cruise_line_OHE',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

###Use VectorAssembler to merge all columns into one column:

In [128]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [130]:
from pyspark.ml.regression import LinearRegression

In [132]:
lr = LinearRegression(labelCol='crew',featuresCol='features')

### Creating a Pipeline

In [141]:
# Building the pipeline
from pyspark.ml import Pipeline

In [149]:
pipeline =Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,lr])

In [150]:
pipelineModel = pipeline.fit(train_df)

21/10/28 15:16:06 WARN Instrumentation: [dab4b6f7] regParam is zero, which might cause numerical instability and overfitting.
21/10/28 15:16:07 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
21/10/28 15:16:07 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
21/10/28 15:16:07 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
21/10/28 15:16:07 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

In [151]:
predDF = pipelineModel.transform(test_df)

In [152]:
predDF.show()

+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
|      Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density| crew|Cruise_line_Index|Cruise_line_OHE|            features|        prediction|
+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
|         Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79| 11.5|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...|11.457515859329988|
|         Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99| 11.6|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...|12.156414619159015|
|         Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99| 19.1|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...|12.173362135865105|
|         Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...| 8.767575273571836|
|         Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...| 8.767575273571836|
|         Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72|  6.6|              1.0| (18,[1],[1.0])|(23,[1,18,19,20,2...| 6.326090818510351|
|        Celebrity| 13|              91.0|     20.32|  9.65|  9.75|            44.78| 9.99|              6.0| (18,[6],[1.0])|(23,[6,18,19,20,2...|  9.82635560159849|
|            Costa|  9|             105.0|      27.2|   8.9| 13.56|             38.6|10.68|              5.0| (18,[5],[1.0])|(23,[5,18,19,20,2...|10.788895477670753|
|           Cunard|  6|              90.0|      20.0|  9.64| 10.29|             45.0|  9.0|             16.0|(18,[16],[1.0])|(23,[16,18,19,20,...|10.933268028083301|
|           Cunard| 44|            70.327|     17.91|  9.63|   9.5|            39.27| 9.21|             16.0|(18,[16],[1.0])|(23,[16,18,19,20,...|10.342251824583865|
|           Disney| 15|            83.338|      17.5|  9.64|  8.75|            47.62| 9.45|             17.0|(18,[17],[1.0])|(23,[17,18,19,20,...| 9.453961870658564|
| Holland_American| 13|              61.0|      13.8|   7.8|  6.88|             44.2|  6.0|              3.0| (18,[3],[1.0])|(23,[3,18,19,20,2...| 6.043803732873271|
| Holland_American| 20|            55.451|     12.66|  7.19|  6.33|             43.8| 5.88|              3.0| (18,[3],[1.0])|(23,[3,18,19,20,2...| 5.402842779913692|
|              MSC| 10|            58.825|      15.6|  8.23|  7.65|            37.71|  7.0|              7.0| (18,[7],[1.0])|(23,[7,18,19,20,2...| 7.076784046892208|
|        Norwegian| 11|              90.0|      22.4|  9.65|  11.2|            40.18| 11.0|              4.0| (18,[4],[1.0])|(23,[4,18,19,20,2...|10.400390269474933|
|         Princess|  9|             113.0|     26.74|  9.51| 13.37|            42.26|12.38|              2.0| (18,[2],[1.0])|(23,[2,18,19,20,2...|  11.4339423404675|
|         Princess| 22|            69.845|      15.9|  8.03|  7.95|            43.93| 6.96|              2.0| (18,[2],[1.0])|(23,[2,18,19,20,2...| 7.391677503939268|
|Regent_Seven_Seas| 14|              33.0|       4.9|   5.6|  2.45|            67.35| 3.24|             15.0|(18,[15],[1.0])|(23,[15,18,19,20,...|3.7289026260373497|
|Regent_Seven_Seas| 16|              19.2|       3.2|  5.13|   1.6|             60.0| 2.11|             15.0|(18,[15],[1.0])|(23,[15,18,19,20,...| 2.874146780133154|
|Regent_Seven_Seas| 27|              12.5|      3.94|  4.36|  0.88|            31.73| 1.46|             15.0|(18,[15],[1.0])|(23,[15,18,19,20,...| 1.670841301268188|
+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
only showing top 20 rows

### Model Evaluation

In [153]:
# Using RMSE
from pyspark.ml.evaluation import RegressionEvaluator

In [154]:
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse')

In [155]:
rmse = regressionEvaluator.evaluate(predDF)
#print("RMSE is {:.1f}".format(rmse))
print(f"RMSE is {rmse:.1f}")

RMSE is 1.6

In [157]:
# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.8507705398325915

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566